.DS_Store

__pycache__/

data
charts

# python virtual environment
.venv/
pyvenv.cfg
bin
lib

# Caviola et al. (2022) data folder
osfstorage-archive

# quarto render
survey-analysis.html

# jupyter
share
