.DS_Store

__pycache__/

data
charts

# python virtual environment
.venv/

# Caviola et al. (2022) data folder
osfstorage-archive

# quarto render
survey/analysis.html

# jupyter cache
survey/analysis.quarto_ipynb
