altair==5.4.1
  Jinja2==3.1.4
    MarkupSafe==2.1.5
  jsonschema==4.23.0
    attrs==24.2.0
    jsonschema-specifications==2023.12.1
      referencing==0.35.1
        attrs==24.2.0
        rpds-py==0.20.0
    referencing==0.35.1
      attrs==24.2.0
      rpds-py==0.20.0
    rpds-py==0.20.0
  narwhals==1.8.1
  packaging==24.1
  typing_extensions==4.12.2
click==8.1.8
importlib_metadata==8.6.1
  zipp==3.21.0
ipykernel==6.29.5
  appnope==0.1.4
  comm==0.2.2
    traitlets==5.14.3
  debugpy==1.8.5
  ipython==8.27.0
    decorator==5.1.1
    jedi==0.19.1
      parso==0.8.4
    matplotlib-inline==0.1.7
      traitlets==5.14.3
    pexpect==4.9.0
      ptyprocess==0.7.0
    prompt_toolkit==3.0.47
      wcwidth==0.2.13
    Pygments==2.18.0
    stack-data==0.6.3
      asttokens==2.4.1
        six==1.16.0
      executing==2.1.0
      pure_eval==0.2.3
    traitlets==5.14.3
  jupyter_client==8.6.2
    jupyter_core==5.7.2
      platformdirs==4.3.3
      traitlets==5.14.3
    python-dateutil==2.9.0.post0
      six==1.16.0
    pyzmq==26.2.0
    tornado==6.4.1
    traitlets==5.14.3
  jupyter_core==5.7.2
    platformdirs==4.3.3
    traitlets==5.14.3
  matplotlib-inline==0.1.7
    traitlets==5.14.3
  nest-asyncio==1.6.0
  packaging==24.1
  psutil==6.0.0
  pyzmq==26.2.0
  tornado==6.4.1
  traitlets==5.14.3
nbclient==0.10.2
  jupyter_client==8.6.2
    jupyter_core==5.7.2
      platformdirs==4.3.3
      traitlets==5.14.3
    python-dateutil==2.9.0.post0
      six==1.16.0
    pyzmq==26.2.0
    tornado==6.4.1
    traitlets==5.14.3
  jupyter_core==5.7.2
    platformdirs==4.3.3
    traitlets==5.14.3
  nbformat==5.10.4
    fastjsonschema==2.21.1
    jsonschema==4.23.0
      attrs==24.2.0
      jsonschema-specifications==2023.12.1
        referencing==0.35.1
          attrs==24.2.0
          rpds-py==0.20.0
      referencing==0.35.1
        attrs==24.2.0
        rpds-py==0.20.0
      rpds-py==0.20.0
    jupyter_core==5.7.2
      platformdirs==4.3.3
      traitlets==5.14.3
    traitlets==5.14.3
  traitlets==5.14.3
pandas==2.2.2
  numpy==2.1.1
  python-dateutil==2.9.0.post0
    six==1.16.0
  pytz==2024.2
  tzdata==2024.1
pip==25.0.1
portion==2.4.2
  sortedcontainers==2.4.0
PyYAML==6.0.2
requests==2.32.3
  certifi==2024.8.30
  charset-normalizer==3.3.2
  idna==3.10
  urllib3==2.2.3
scipy==1.14.1
  numpy==2.1.1
SQLAlchemy==2.0.40
  typing_extensions==4.12.2
tabulate==0.9.0
